server {
    listen 80;
    server_name mt.melt.kyutech.ac.jp;

    access_log /var/log/nginx/mt_access.log;
    error_log /var/log/nginx/mt_error.log;

    if ($remote_addr = '150.69.3.11' ) {
       rewrite /mt http://10.27.104.1:20154/mt redirect;
       rewrite ^(.*)$ http://10.27.104.1:20154 redirect;
    }

    proxy_set_header    X-Real-IP       $remote_addr;
    proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header    Host            $http_host;
    proxy_redirect      off;
    proxy_max_temp_file_size    0;
#
# for websocket
#
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

#
#    location = / {
#        proxy_pass http://127.0.0.1:20154/index;
#    }

    location / {
        proxy_pass http://127.0.0.1:20154;
    }

    location /mt {
        proxy_pass http://127.0.0.1:20155/mt;
    }

}
