body { font-family: sans-serif; background: lightyellow}
h2,h3 { color: black;}
input#tweet { font-size: large; width: 100%;}
div#timeline { color: navy;}
div#timeline hr { margin-top: 5px; margin-bottom: 5px;}
span.time { color: darkgreen; font-weight: bold; }
span.addr { color:darkgreen; font-size:smaller; }
